body {
    background-color: rgb(97, 97, 97);
}
header{
    background-color: rgb(153, 0, 51 );
}
footer{
    background-color: rgb(153, 0, 51 );
}
#logo{
    width: 50px;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#imagen_personal {
    box-shadow: 10px 10px 3px rgb(153, 0, 51)
}
h3{
    color: rgb(255, 215, 0);
}
footer{
    align-items: center;
}
footer img{
    width: 50px;
}